.TaskList {
  height: 100%;

  /* OutsideClickHandler */
  > div {
    height: 100%;
  }

  .row-selected {
    &:not(.ant-table-expanded-row) > td {
      background-color: #4da9ff;
    }
    &:hover:not(.ant-table-expanded-row) > td {
      background-color: #1890ff;
    }
  }

  .TaskList-col1 {
    white-space: nowrap;
    /*
    display: inline-block;
    height: 64px;
    width: 50px;
    */
  }

  .row-project {
    .TaskList-title {
      font-style: italic;
    }
  }
  .row-active {
    .TaskList-title {
      color: rgb(21, 124, 0);
    }
  }
  .row-never-active,
  .row-done {
    &,
    .TaskList-title {
      color: rgb(148, 148, 148);
    }
  }
  .row-done {
    .TaskList-title {
      text-decoration: line-through;
    }
  }
  .row-category {
    .TaskList-title {
      font-weight: bold;
    }
  }
}
