.App {
  height: 100%;
  background: linear-gradient(135deg, #ffffff 0%, #7ccaff 100%);

  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;

    .App-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 80px;
    }

    h2 {
      color: white;
    }
  }

  .item-right {
    float: right;
  }
  .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  }

  /* Firefox Ctrl+Click, see https://stackoverflow.com/a/32070426/5519485 */
  td {
    -moz-user-select: none;
    > * {
      -moz-user-select: text;
    }
  }
}
