.App {
  height: 100%;

  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;

    .App-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 80px;
    }

    h2 {
      color: white;
    }
  }

  .App-loading {
    top: calc(50% - 16px);
    position: absolute;
  }

  .App-intro {
    font-size: large;
  }
  .login-form {
    flex-direction: column;
  }
  .login-form {
    width: 400px;
    margin: auto;
    //max-width: 300px;

    //margin-left: 150px;
  }
  .login-form-forgot {
    float: centre;
  }
  .login-form-button {
    width: 50%;
  }
  .item-right {
    float: right;
  }
  .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  }

  /* Firefox Ctrl+Click, see https://stackoverflow.com/a/32070426/5519485 */
  td {
    -moz-user-select: none;
    > * {
      -moz-user-select: text;
    }
  }
}
