body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

html,
body,
#root {
  height: 100%;
}
